.room-image {
    width: 272px;
    height: 272px;
    object-fit: cover; 
    border-radius: 8px; 
  }
  
  .room-description-page{   
    justify-content: center;
    align-items: center; 
    
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px;
  }