ul {
  list-style: none;
  padding: 0;
  display: flex; /* Added to make the list items align horizontally */
}

li {
  margin-bottom: 5px;
}

li span {
  flex: 1;
  font-size: 16px;
}

nav {
  position: relative;
  width: 100%;
  background-color: #f7f7f7;
  padding: 10px;
  display: flex; /* Added to make the list items align horizontally */
  justify-content: space-between; /* Added to push the button to the right */
}

.navbar-links li {
  margin-right: 10px;
}

.navbar-links li:last-child {
  margin-right: 0;
}

.nav-button {
  display: flex; /* Added to align the button properly */
  align-items: center; /* Added to align the button vertically in the navbar */
}

.nav-button button {
  background-color: #eb6767;
  padding: 10px;
}
