

.admin-panel-container {
   
  justify-content: center;
  align-items: center;    
  background-color: #007bff;
  flex-direction: column;  
  text-align: center;  
   
  }
  
  
  .form-group {
    align-items: center; 
    margin-bottom: 15px;   
    justify-content: center;    
    background-color: #bfcedf;      
    top: 20%; 
    left: 5%;   
    display: flex;
    flex-direction: column;  
    text-align: center;
    position: absolute;
    border-radius: 5%;
    
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: #86787b;
    color: rgb(17, 17, 17);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px; 
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .booked-rooms{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    top: 75%; 
    left: 50%;
    background-color: #ffffff;
    margin-bottom: 15px;
    position: absolute;
    flex-direction: row;
  }

  .room-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 250px;
    overflow: hidden;
    
  }

  .room-info {
    padding: 10px;
  }