.admin-panel-container {
  background: #f7f7f7;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the children horizontally */
  justify-content: center; /* Center align the children vertically */
}

.form-group {
  max-width: 400px;
  text-align: left;
}

.form-group label {
  font-size: 18px;
  color: #333;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-button {
  
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.booked-rooms {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center; /* Center-align the items horizontally */
}

.room-card {
  flex-basis: calc(33.33% - 20px);
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: left;
  transition: transform 0.2s;
}

.room-card img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.room-info {
  padding: 10px;
}

.room-info h3 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.room-info p {
  font-size: 16px;
  color: #555;
  margin: 0;
}
